.userCenter_login_password_header .icon-left:before {
  content: '';
  position: absolute;
  background: url(/static/img/userCenter/icon_circleLeft.png) no-repeat center top;
  background-size: cover;
  width: 1.1rem;
  height: 1.1rem;
  left: 0;
  top: .5rem;
}
.userCenter_login_password {
  background: #f2f2f2;
  font-size: 0.7rem;
  color: #bdbdbd;
}
.userCenter_login_password .formtemplate_box .formLine:first-of-type {
  display: none;
}
.userCenter_login_password .word {
  background: #ffffff;
  margin-top: 1rem;
  padding: 0.5rem;
}
.userCenter_login_password .word .pwphone {
  margin: 1.2rem;
}
.userCenter_login_password .word .pwphone span {
  color: #555555;
  margin-left: 0.5rem;
}
.userCenter_login_password .formtemplate_box .formLine img {
  width: 7%;
}
.word .formtemplate_box {
  background: #ffffff;
  padding: 0 auto!important;
  margin-top: 1rem;
}
.word .formtemplate_box .voice {
  text-align: left!important;
}
.word .formtemplate_box .voice span {
  color: #ff577f!important;
}
.word .formtemplate_box .password {
  padding: 0.5rem 0;
  position: relative;
}
.word .formtemplate_box .password img {
  margin-top: 1rem;
  position: absolute;
  top: 0.5rem;
}
.word .formtemplate_box .formLine input {
  color: #555555;
}
.word .formtemplate_box .smsCaptcha {
  font-size: 0.6rem;
}
.word .formtemplate_box .smsCaptcha button {
  padding: 0 3%;
}
