.home_promotion_header .bg {
  background: url(/static/img/home/head_title.png) no-repeat center;
  background-size: auto .9rem;
}
.home_promotion_header .icon-left {
  color: #888888;
}
.home_promotion_header .icon.pull-right {
  background: url(/static/img/home/share.png) no-repeat 0.2rem center;
  background-size: auto .9rem;
  width: 1.35rem;
  height: 1.35rem;
  line-height: 1.35rem;
  text-align: center;
  border-radius: 100%;
  -weikit-border-radius: 100%;
  margin: .5rem 0;
}
.home_promotion .tab_box .tab {
  background: #3f3f3f;
  color: #a5a5a5;
  font-size: .75rem;
  font-weight: bold;
  margin: 0;
  position: relative;
}
.home_promotion .tab_box .tab.active {
  color: #ffffff;
  border: none;
  background: #ff3f6b;
}
.home_promotion .tab_box .tab:after {
  content: "";
  border: none;
  background-color: transparent;
}
.home_promotion .tab.active:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background: transparent;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-bottom: .3rem solid #fff;
  left: 50%;
}
.home_promotion .tabContent ul li {
  background: #fff;
  padding: 0.5rem ;
  margin-bottom: 0.3rem;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}
.home_promotion .tabContent ul li .box {
  font-size: 0;
  overflow: hidden;
}
.home_promotion .tabContent ul li .box .imgbox {
  width: 40%;
  display: inline-block;
  position: relative;
  padding-bottom: 40%;
}
.home_promotion .tabContent ul li .box .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home_promotion .tabContent ul li .box .imgbox .noGood {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background: url(/static/img/goods/nogood.png) no-repeat center;
  background-size: cover;
}
.home_promotion .tabContent ul li .box .goodsText {
  width: 60%;
  padding-left: 0.45rem;
  display: inline-block;
  vertical-align: top;
}
.home_promotion .tabContent ul li .box .goodsText h2 {
  font-size: .65rem;
  color: #555555;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.home_promotion .tabContent ul li .box .goodsText .time {
  padding: .7rem 0 .8rem 0;
  font-weight: bold;
  font-size: .6rem;
  color: #434343;
  margin: 0 0 1rem;
  height: 1.4rem;
  line-height: 1.4rem;
}
.home_promotion .tabContent ul li .box .goodsText .time span {
  display: inline-block;
  font-size: .75rem;
  color: #ffffff;
  width: 1.4rem;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  text-align: center;
  background: #434343;
  margin-right: .2rem;
  font-weight: normal;
}
.home_promotion .tabContent ul li .box .goodsText .price {
  position: absolute;
  bottom: .75rem;
  width: 55%;
}
.home_promotion .tabContent ul li .box .goodsText .price div {
  display: inline-block;
}
.home_promotion .tabContent ul li .box .goodsText .price div:first-of-type p {
  margin: 0;
}
.home_promotion .tabContent ul li .box .goodsText .price div:first-of-type p:first-of-type {
  font-size: .6rem;
  color: #ff577f;
}
.home_promotion .tabContent ul li .box .goodsText .price div:first-of-type p:first-of-type span {
  font-size: .75rem;
}
.home_promotion .tabContent ul li .box .goodsText .price div:first-of-type p:last-of-type {
  font-size: .6rem;
  color: #bababa;
  text-decoration: line-through;
}
.home_promotion .tabContent ul li .box .goodsText .price a {
  padding: .5rem .8rem;
  border-radius: 1rem;
  font-size: .7rem;
}
.home_promotion .tabContent ul li .box .goodsText .price a img {
  vertical-align: middle;
  width: .7rem;
  height: .7rem;
}
.home_promotion .tabContent ul li .box .goodsText .price .hasbuy {
  background: #cccccc;
  color: #ffffff;
}
.home_promotion .tabContent ul li .box .goodsText .price .buy {
  background: #ff3f6b;
  color: #ffffff;
}
.home_promotion .tabContent ul li .box .goodsText .price .remind {
  background: #fff5d9;
  color: #ffbb15;
  font-size: .7rem;
}
.home_promotion .tabContent ul li .box .goodsText .price .set {
  color: #ffffff;
  background: #ffbb15;
}
.home_promotion .null {
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
}
.home_promotion .null img {
  width: 35%;
}
.wxfx {
  z-index: 9999!important;
}
