.popup-share {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  height: 100%;
}
.popup-share .content-block {
  padding: 0;
  margin: 0;
  background: #fff;
  padding-top: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.popup-share .content-block .li {
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
  padding-top: 25%;
  border: #eee solid 1px;
  margin: -1px 0 0 -1px;
  background-color: #fff;
}
.popup-share .content-block .li:nth-child(4n) {
  border-right: 0;
  margin-left: -1px;
}
.popup-share .content-block .li .warp {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 40%;
  -moz-background-size: 40%;
  -ms-background-size: 40%;
  -o-background-size: 40%;
  background-size: 40%;
}
.popup-share .content-block .wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.popup-share .content-block .li .warp:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 250%;
  font-size: 12px;
}
.popup-share .content-b lock .li.wx .warp {
  background-image: url(/common/mod/share/share_wechat.png);
}
.popup-share .content-block .li.wx .warp.active-state {
  background-image: url(/common/mod/share/share_wechat_gray.png);
}
.popup-share .content-block .li.wx .warp:after {
  content: '微信';
}
.popup-share .content-block .li.qq .warp {
  background-image: url(/common/mod/share/share_qq_on.png);
}
.popup-share .content-block .li.qq .warp.active-state {
  background-image: url(/common/mod/share/share_qq_off.png);
}
.popup-share .content-block .li.qq .warp:after {
  content: 'QQ';
}
.popup-share .content-block .li.qqkj .warp {
  background-image: url(/common/mod/share/share_qzone_on.png);
}
.popup-share .content-block .li.qqkj .warp.active-state {
  background-image: url(/common/mod/share/share_qzone_off.png);
}
.popup-share .content-block .li.qqkj .warp:after {
  content: 'QQ空间';
}
.popup-share .content-block .li.qqtx .warp {
  background-image: url(/common/mod/share/share_tx_on.png);
}
.popup-share .content-block .li.qqtx .warp.active-state {
  background-image: url(/common/mod/share/share_tx_off.png);
}
.popup-share .content-block .li.qqtx .warp:after {
  content: '腾讯微博';
}
.popup-share .content-block .li.wb .warp {
  background-image: url(/common/mod/share/share_sina_on.png);
}
.popup-share .content-block .li.wb .warp.active-state {
  background-image: url(/common/mod/share/share_sina_off.png);
}
.popup-share .content-block .li.wb .warp:after {
  content: '新浪微博';
}
.popup-share .content-block .li.rrw .warp {
  background-image: url(/common/mod/share/share_renren_on.png);
}
.popup-share .content-block .li.rrw .warp.active-state {
  background-image: url(/common/mod/share/share_renren_off.png);
}
.popup-share .content-block .li.rrw .warp:after {
  content: '人人网';
}
.wxfx {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background: url(/common/mod/share/share_guide.png) no-repeat right 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 50% auto;
}
