<!-- 美妆秘书 -->
<heade class="circle_left" head-title="title"></heade>

<div class="content userCenter_secretary">
    <ul ng-if="data.count">
        <li ng-repeat="item in data.rows" ng-click="jump($index)">
            <div class="avatar pull-left">
                <img src="/static/img/userCenter/secretary_avatar.png" alt="">
            </div>
            <div class="container">
                <div class="textBox">
                    <h2>
                        <span ng-if="item.title">【{{item.title}}】</span>
                        <p class="pull-right">{{item.createdAt}}</p>
                    </h2>
                    <p>
                        {{item.remark| limitTo: 72}}
                        <span ng-if="item.remark.length>72">……</span>
                    </p>
                    <div class="imgbox" ng-if="item.img">
                        <img ng-src="{{item.img}}" >
                    </div>
                </div>
                <img  src="/static/img/userCenter/secretary_arrow.png" alt="" class="arrow">
            </div>
        </li>
    </ul>

    <img class="none" src="/static/img/userCenter/none.png" ng-if="data.count!=undefined&&!data.count" alt="">
</div>
