.page {
  background: #faf7f0;
  max-width: 750px;
}
.userCenternumberChanges {
  width: 80%;
  margin: 0 auto;
  margin-top: 1.2rem;
  text-align: center;
}
.userCenternumberChanges h1 {
  font-size: 0.8rem;
  color: #B3B3B3;
}
.userCenternumberChanges ul {
  list-style: none;
  padding-left: 0;
}
.userCenternumberChanges ul li {
  margin-top: 0.8rem;
}
.userCenternumberChanges ul li input {
  width: 100%;
  border: none;
  padding: 0.6rem 0 0.6rem 0.5rem;
}
.userCenternumberChanges ul li input:focus {
  border: 1px solid #FF8EB4 ;
}
.userCenternumberChanges ul li .inp {
  width: 45%;
}
.userCenternumberChanges ul li button {
  width: 50%;
  border: 1px solid #ddd;
  padding: 0.5rem;
  color: #FF8EB4;
  background: #ffffff;
}
.userCenternumberChanges ul .default {
  background: #ddd;
}
.userCenternumberChanges div p {
  font-size: 0.7rem;
  color: #B3B3B3;
}
.userCenternumberChanges div p span {
  color: #FF6699;
}
.userCenternumberChanges .sure {
  color: #ffffff;
  background-color: #FF6699;
  border: none;
  padding: 0.3rem 3rem;
  border-radius: 5rem;
  margin-top: 0.8rem;
}
.toast_success {
  text-align: center;
  font-size: 0.7rem;
  padding: 0.5rem 0.5rem;
  height: 2rem;
  -webkit-border-radius: 0.2rem;
  background: rgba(0, 0, 0, 0.7);
  line-height: 1.5;
}
.toast_success p {
  margin: 0;
  padding: 0;
}
.toast_success img {
  width: 2rem;
  height: 2rem;
  display: block;
  margin: auto;
  margin: 0.3rem auto;
}
/*弹窗自定义样式*/
.redBagModal .popup_container .customize_popup input {
  width: 50%;
  border: 1px solid #cccccc;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
}
.redBagModal .popup_container .customize_popup input:focus {
  border: 1px solid #ff4d7d;
}
.redBagModal .popup_container .customize_popup img {
  margin-left: 0.3rem;
  width: 23%;
  vertical-align: top;
}
.redBagModal .popup_container .customize_popup a {
  margin-left: 0.3rem;
  font-size: 0.7rem;
  text-decoration: underline;
}
.redBagModal .modal-inner {
  background-color: #ffffff;
}
.redBagModal .modal-inner:after {
  content: '';
  background-color: #ffffff;
}
.redBagModal .modal-buttons {
  background: #ffffff;
  border-radius: 0 0 0.5rem 0.5rem;
}
.redBagModal .modal-button {
  width: 50%;
  font-size: 0.7rem;
  color: #ff4d7d;
  border: 1px solid #ff4d7d;
  background: #ffffff;
  height: auto;
}
.redBagModal .modal-button:first-child:last-child {
  border-radius: 2rem 2rem 2rem 2rem;
  height: 1.4rem;
  width: 40%;
  line-height: 1.4rem;
  padding: 0;
}
.redBagModal .modal-button:after {
  content: "";
  background-color: #ffffff;
}
