.page {
  background-color: #f9f7ef;
}
.userCenterrecord .contentBox {
  background: #fff;
}
.userCenterrecord .content-block-title {
  margin-top: 1rem;
  padding-top: .55rem;
}
.userCenterrecord .head {
  width: 100%;
  height: 3.125rem;
  background-color: pink;
}
.userCenterrecord .head .icon-left {
  color: white;
}
.userCenterrecord .head .button {
  border: 0;
}
.userCenterrecord .list-block .item-content {
  padding-left: 0rem;
  height: 3.2rem;
}
.userCenterrecord .list-block .item-content .item-inner:after {
  background-color: #dbdbdb;
  height: 0.08rem;
}
.userCenterrecord .list-block .item-content .textColor {
  font-size: 0.65rem;
  color: #cccccc;
}
.userCenterrecord .list-block .item-content .pink {
  font-size: 0.75rem;
  color: #ff95b9;
}
.userCenterrecord .list-block .item-content .bigfont {
  font-size: 0.55rem;
  color: #999999;
}
.userCenterrecord .list-block .item-content .col-50 {
  width: 50%;
  margin-left: 0;
}
.userCenterrecord .list-block .item-content .right {
  font: right;
  text-align: right;
}
.userCenterrecord .list-block p {
  font-size: 0.55rem;
  margin: 0;
}
.userCenterrecord .list-block ul:before {
  background-color: #dbdbdb;
  height: 0.08rem;
}
.userCenterrecord .list-block ul:after {
  background-color: #dbdbdb;
  height: 0.08rem;
}
.userCenterrecord .imgbox {
  margin: 0 auto;
  margin-top: 7.975rem;
  text-align: center;
}
.userCenterrecord .imgbox img {
  width: 3.875rem;
  height: 4rem;
}
.userCenterrecord .imgbox p {
  font-size: 0.75rem;
  color: #999999;
}
