.home_special_header .pull-right.icon {
  background: url(/static/img/home/share.png) no-repeat;
  background-size: contain;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: .45rem;
}
.home_special {
  /* 商品集图片 */
  /* 更多 */
  /* 空态页 */
}
.home_special .goodsDesc {
  font-size: 0;
}
.home_special .goodsDesc p {
  margin: 0;
}
.home_special .goodsDesc img {
  width: 100%;
}
.home_special .probably_more {
  padding-left: .4rem;
}
.home_special .probably_more .title_more {
  margin: 1rem .5rem .5rem 0;
  color: #f69;
  font-size: .7rem;
  text-align: center;
  font-weight: normal;
  position: relative;
}
.home_special .probably_more .title_more span {
  position: relative;
  z-index: 1;
  background: #f9f7ef;
  padding: 0 .4rem;
}
.home_special .probably_more .title_more img {
  width: .8rem;
  height: .8rem;
  vertical-align: middle;
  margin-right: .2rem;
  margin-top: -0.2rem;
}
.home_special .probably_more .title_more:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #f69;
  position: absolute;
  top: .5rem;
}
.home_special .probably_more ul.goodsList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.home_special .probably_more li {
  width: 50%;
}
.home_special .probably_more .goodsBox {
  margin-right: .4rem;
  border: 1px solid #f2dee5;
  margin-bottom: .4rem;
  background: #fff;
}
.home_special .probably_more .goodsBox .imgBox {
  position: relative;
  height: 0;
  padding-top: 100%;
}
.home_special .probably_more .goodsBox .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home_special .probably_more .goodsBox .imgBox .noGood {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(/static/img/goods/nogood.png) no-repeat center;
  background-size: cover;
}
.home_special .probably_more .goodsBox h3 {
  font-weight: normal;
  margin: .25rem;
  color: #705453;
  font-size: .7rem;
  height: 2.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.home_special .probably_more .goodsBox p {
  margin: 0;
  color: #f69;
  font-size: .65rem;
  padding-bottom: .25rem;
  margin: 0 .25rem;
  height: 1.3rem;
}
.home_special .probably_more .goodsBox p span {
  margin-right: .3rem;
}
.home_special .probably_more .goodsBox p span:nth-of-type(1) {
  font-weight: bold;
  color: #f69;
}
.home_special .probably_more .goodsBox p span:nth-of-type(2) {
  font-size: .6rem;
  color: #999;
  text-decoration: line-through;
}
.home_special .probably_more .goodsBox p a.pull-right {
  background: #f69;
  color: #fff;
  font-size: .6rem;
  padding: .1rem .25rem;
  border-radius: .55rem;
  -webkit-border-radius: .55rem;
}
.home_special .probably_empty {
  text-align: center;
  color: #ccc;
  padding: 1rem 0;
  font-size: .6rem;
}
